<footer class="footer py-3 bg-dark mt-auto">
    <div class="text-center" style="color:#FFFFFF;">
        (C) 2022 Renzo Diaz -
        <a href="https://www.remadi.net/" target="_blank" style="color:#FFFFFF">Remadi Software</a>
    </div>
</footer>